

body{
  margin: 0;
  font-family: sans-serif;
  text-align: center;
  background-image: url(./img/FUNDO.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#moeda {
  width: 150px;
  height: 150px;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 4s ease-in-out;
}

.face {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
}

.container-div-moeda-mae{

  display: flex;
  justify-content: center;
  justify-items: center;
  color: white;
  padding: 0px;


}


.box-moeda{

  display: flex;
  justify-content: center;
  justify-items: center;
  color: white;
  background-color: rgba(173, 164, 173, 0.402);




}
.container-div-moeda{
  border: solid 1px;
  margin-top: 300px;
  display: flex;
  justify-content: center;
  justify-items: center;
  color: white;
  padding: 10px;
  background-color: rgba(34, 33, 33, 0.108);
  border-radius: 80px 80px 0px 0px;

}


#cara {
  background-image: url(./img/SKYRIM.jpg); /* Substitua pelo caminho da sua imagem */
}

#coroa {
  background-image: url(./img/STALKER.png); /* Substitua pelo caminho da sua imagem */
  transform: rotateY(180deg);
}



button {
  border-radius: 12px 12px 0px 0px;
  padding: 10px 20px;
  font-size: 20px;
  cursor: pointer;
  background-image: url(img/textura.jpg);
  background-size: cover;
  color: white;
  width: 190px;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}



button:hover{
  border-radius: 12px 12px 0px 0px;
  padding: 10px 20px;
  font-size: 23px;
  cursor: pointer;
  background-image: url(img/textura.jpg);
  background-size: cover;
  color: rgb(255, 3, 3);
  width: 190px;
  transition: 2s;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  
}


.container-girar-moeda{
  display: flex;
  justify-content: center;
  justify-items: center;
  color: white;
  padding: 0px;

}



.container-resultado{
  display: flex;
  width: 290px;
  justify-content: center;
  justify-items: center;
  color: rgba(0, 0, 0, 0.882);
  padding: 30px;
  background-image: url(img/textura.jpg);
  background-size: cover;
  border: solid 1px;
  border-color: black;
  border: solid 2px;
  border-radius: 12px 12px 0px 0px;
  margin-top: -8px;
}



.box-resultadoPedra{
  display: flex;
  padding: 1px;
  justify-content: center;
  justify-items: center;
  margin-bottom: 0px;
  height: 400px;

}
  

#resultado {
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  margin-top: 0px;
  font-size: 27px;
  color: rgba(229, 178, 11, 0.998);
  letter-spacing: 2px;
  height: 90px;
  

}



.container-rodape{
  margin-top: -1px;
  padding: 20px;
  display: flex;
  justify-content: center;
  justify-items: center;
  background-color: black;
  color: white;
}



@media (max-width: 415px) {
  body {
      background-color: black;
      background-size: cover;
      box-sizing: border-box;
  }
.box-resultadoPedra{
height: 298px!important;
  background-color: rgba(0, 0, 0, 0.837)!important;
}


.container-rodape{

  background-color: rgb(0, 0, 0);
}
 

}